.header_logo {
  width: 150px;
  position: relative;
  top: 10px;
  left: 30px;

}
.header_nav_list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  color: dimgray;
  position:relative; top:-20px;
}
.header_nav_item_1 {
  position: absolute;
  left: 80%;
}
.header_nav_item_2 {
  position: absolute;
  left: 90%;
}
.header_nav_item_3 {
  position: absolute;
  left: 100%;
}
.header_nav_item_4 {
  position: absolute;
  left: 110%;
}
.header_nav_item_5 {
  position: absolute;
  left: 120%;
}
.header_nav_item_6 {
  position: absolute;
  left: 130%;
}

.main_content_item {
  position: relative;
  top:15px;
  left: 60%;
  width: 100%;

}
img {
  width: 100%;
}
.main_content_title {
  font-family: 'IBM Plex Sans JP', sans-serif;
    font-family: 'Indie Flower', cursive;
    font-size: 90px;
    font-weight: lighter;
    color: #c71585;
    position: relative;
    top:-650px;
    left: 23%;
    line-height: 150px;  
}
.main_content_title_item {
  font-size: 30px;
  font-weight: bold;
  color: #c71585;
  position: relative;
  top: -600px;
  left: 23%;

}
span {
  color: #20b2aa;
}

.main_content_text_item {
  position: relative;
  top: -580px;
  left: 23%;
  color: dimgray;
}

.section_news_tab {
  font-family: 'IBM Plex Sans JP', sans-serif;
    font-family: 'Indie Flower', cursive;
  color: #c71585;
  line-height: 20px;
  font-size: 10px;
  position: relative;
  top: -200px;
  left: 35%;
}
.section_news_title {
  color: dimgrey;
  font-size: 20px;
  line-height: 60px;
  position: relative;
  top: -190px;
  left: 35%;
  

}
.section_news_list {
  position: relative;
  top: -150px;
  left: 40%;
  border-spacing: 0;
  border-top:2px solid dimgray;
  border-bottom: 2px solid dimgray;
  table-layout: fixed;
  width: 80%;
  
}
.section_news_list_post {
  border-bottom: 1px solid dimgray;
}
.section_news_list_item_date {
  position: relative;
  right: 15%;
}
  
  
  

.section_news_list_item_info {
    line-height: 50px;
    display: flex;
    justify-content: center;
  

}
.section_news_list_item_info_logo {
  width: 100px;
  height: 40px;
  background-color: #c71585;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  position: relative;
  right: 60%;
  margin: 10px;
  
}
.section_news_list_item_info_item {
  position: relative;
  right: 40%;
  top: 10px;
  
}
.about {
  background-color: #dcdcdc;
  width: 100% auto;
  height: 400px;

}
.section_about_tab {
  font-family: 'IBM Plex Sans JP', sans-serif;
    font-family: 'Indie Flower', cursive;
    color: #c71585;
    font-size: 10px;
    text-align: center;
    padding: 30px;
}
.section_about_title {
  font-size: 20px;
  color: dimgray;
  text-align: center;

}
.section_about_category_item_photo {
position: relative;
top:50px;
left: 60%;
width: 300px;
height: 40%;

}
.section_about_category_text_item {
  display: block;
  position: relative;
  top:-150px;
  left: 20%;
  line-height: 25px;

}
.section_about_category_text_coption {
  display: block;
  position: relative;
  top:-150px;
  left: 20%;
  line-height: 25px;
  margin-top: 20px;

}
img {
  width: 100%;
}
.section_sevice_tab {
  font-family: 'IBM Plex Sans JP', sans-serif;
    font-family: 'Indie Flower', cursive;
    color: #c71585;
    margin-top: 50px;
    margin-left: 280px;
}
.section_sevice_title {
  font-size: 20px;
  color: dimgray;
  margin-top: 15px;
  margin-left: 280px;
}
.section_sevice_container {
  display: grid;
  grid-template-rows: 150px 150px;
  grid-template-columns: 1fr 1fr;
  width: 1000px;
  position: relative;
  top:20px;
  left: 250px;

}
.section_sevice_category_left {
  background-color: #c71585;

}
.section_sevice_category_left_text {
  background-color: #c71585;
  grid-row: 2/3;
  grid-column: 1fr;

}
.section_sevice_category_left_text_title {
  color: #fff;
  font-size: large;
  font-weight: bold;
  text-align: center;
  

}
.section_sevice_category_left_text_item {
  color: #fff;
  margin-top: 15px;
  text-align: left;
  margin-left: 13%;
}
.section_sevice_category_left_image {
  width: 20%;
  position: relative;
  top:20px;
  left: 40%;
  
}
.section_sevice_category_right_top {
  background-color: #db7093;
  grid-row: 1/2;
  grid-column: 2/3
}
.section_sevice_category_right_top_image {
  width: 20%;
  position: relative;
  top:20px;
  left: 5%;

}
.section_sevice_category_right_top_text_title {
  font-size: large;
  font-weight: bold;
  position: absolute;
  top:20px;
  left: 68%;
  color: #fff;

  
}
.section_sevice_category_right_top_text_item {
  position: absolute;
  top:50px;
  left: 68%;
  color: #fff;
}
.section_sevice_category_right_bottom {
  background-color: #b8bfd8;
  grid-row: 2/3;
  grid-column: 2/3;
}
.section_sevice_category_right_bottom_image {
  width: 20%;
  position: relative;
  top:20px;
  left: 5%;
}
.section_sevice_category_right_bottom_text_title {
  position: relative;
  top:-130px;
  left: 38%;
  font-size: large;
  font-weight: bold;
  color: #fff;
}
.section_sevice_category_right_bottom_text_item {
  position: relative;
  top:-120px;
  left: 38%;
  color: #fff;
  
}
.post {
  background-color: lightgray;
  width: 100%;
  height: 700px;

}
.section_post_tab {
  font-family: 'IBM Plex Sans JP', sans-serif;
    font-family: 'Indie Flower', cursive;
    color: #c71585;
    position: relative;
    top:30px;
    left: 18%;
    
}
.section_post_title {
  font-size: 20px;
  color: dimgray;
  position: relative;
  top:50px;
  left: 18%;
}
.section_post_card_left {
  background: #fff;
  border-radius: 20px;
  width: 300px;
  height: 350px;
  position: relative;
  top: 85px;
  left: 18%;

}
.section_post_card_left_photo {
  width: 300px;
  border-radius: 20px 20px 0 0 ;

}
.section_post_card_left_tab {
  background-color: #c71585;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 20px 0 0 0 ;
  width: 70px;
  height: 30px;
  position: relative;
  top:-203px

}
.section_post_card_left_text {
  display: flex;
  justify-content: space-around;
  color: dimgray;
  position: relative;
  top:30px;
}
.section_post_card_left_title {
  position: relative;
  left: 25px;
  color: dimgray;
  line-height: 23px;
}
.section_post_card_center {
  background: #fff;
    border-radius: 20px;
    width: 300px;
    height: 350px;
    position: relative;
    top: 85px;
    left: 10%;
}

.section_post_card_center_photo {
  width: 300px;
  border-radius: 20px 20px 0 0;

}
.section_post_card_right_photo {
  width: 300px;
  border-radius: 20px 20px 0 0;

}

.section_post_card_right {
  background: #fff;
    border-radius: 20px;
    width: 300px;
    height: 350px;
    position: relative;
    top: 85px;
    left: 2%;

}

.section_post_card_center_tab {
  background-color: #c71585;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 20px 0 0 0;
  width: 70px;
  height: 30px;
  position: relative;
  top: -203px
}
.section_post_card_right_tab {
  background-color: #c71585;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 20px 0 0 0;
  width: 70px;
  height: 30px;
  position: relative;
  top: -203px
}
.section_post_card_center_text {
  display: flex;
  justify-content: space-around;
  color: dimgray;
  position: relative;
  top: 30px;
}
.section_post_card_right_text {
  display: flex;
  justify-content: space-around;
  color: dimgray;
  position: relative;
  top: 30px;
}
.section_post_card_center_title {
  position: relative;
  left: 25px;
  color: dimgray;
  line-height: 23px;
}
.section_post_card_right_title {
  position: relative;
  left: 25px;
  color: dimgray;
  line-height: 23px;
}
.section_post_card_item {
  display: flex;
  justify-content: space-around;
  position: relative;
  right: 6%;
}
.section_post_link {
  display: block;
  border: 2px solid #c71585;
  border-radius: 30px;
  color: #c71585;
  width: 180px;
  text-align: center;
  background-color: #fff;
  position: relative;
  top: 150px;
  left: 46%;
  padding: 20px;
  font-weight: bold;
}
.section_profile_tab {
  font-family: 'IBM Plex Sans JP', sans-serif;
    font-family: 'Indie Flower', cursive;
    color: #c71585;
    position: relative;
    top:100px;
    left: 25%;
}
.section_profile_title {
  font-size: 20px;
  color: dimgray;
  position: relative;
  top: 120px;
  left:25%; 
}
.section_profile_list {
  border: 1px solid dimgray;
  position: relative;
  top:150px;
  left: 25%;

}
.section_profile_list_company_tab {
  border: 1px solid rgb(169, 165, 165);;
  background-color: lightgray;
  line-height: 50px;
  width: 200px;
  text-align: left;
  padding-left: 10%;
  color: dimgray;
}

.section_profile_list_name_tab {
  border: 1px solid rgb(169, 165, 165);;
  background-color: lightgray;
  line-height: 50px;
  width: 200px;
  text-align: left;
  padding-left: 10%;
  color: dimgray;
}
.section_profile_list_address_tab {
  border: 1px solid rgb(169, 165, 165);;
  background-color: lightgray;
  line-height: 50px;
  width: 200px;
  text-align: left;
  padding-left: 10%;
  color: dimgray;
}
.section_profile_list_people_tab {
  border: 1px solid rgb(169, 165, 165);;
  background-color: lightgray;
  line-height: 50px;
  width: 200px;
  text-align: left;
  padding-left: 10%;
  color: dimgray;
}
.section_profile_list_tel_tab {
  border: 1px solid rgb(169, 165, 165);;
  background-color: lightgray;
  line-height: 50px;
  width: 200px;
  text-align: left;
  padding-left: 10%;
  color: dimgray;
}
.section_profile_list_money_tab {
  border: 1px solid rgb(169, 165, 165);
  background-color: lightgray;
  line-height: 50px;
  width: 200px;
  text-align: left;
  padding-left: 10%;
  color: dimgray;
}
.section_profile_list_company_item {
  border: 1px solid rgb(169, 165, 165);
  line-height: 50px;
  width: 550px;
  padding-left: 10%;
  color: dimgray;

}
.section_profile_list_name_item {
  border: 1px solid rgb(169, 165, 165);
  line-height: 50px;
  width: 550px;
  padding-left: 10%;
  color: dimgray;

}
.section_profile_list_address_item {
  border: 1px solid rgb(169, 165, 165);
  line-height: 50px;
  width: 550px;
  padding-left: 10%;
  color: dimgray;

}
.section_profile_list_people_item {
  border: 1px solid rgb(169, 165, 165);
  line-height: 50px;
  width: 550px;
  padding-left: 10%;
  color: dimgray;

}
.section_profile_list_tel_item {
  border: 1px solid rgb(169, 165, 165);
  line-height: 50px;
  width: 550px;
  padding-left: 10%;
  color: dimgray;

}
.section_profile_list_money_item {
  border: 1px solid rgb(169, 165, 165);
  line-height: 50px;
  width: 550px;
  padding-left: 10%;
  color: dimgray;

}
.profile {
  width: 100%;
  height:600px;
}
.section_unit_work_photo {
  width: 50%;
}
.section_unit_work_title {
  font-size: 30px;
  display: block;
  position: relative;
  top:-180px;
  left: 20%;
  color: #fff;
  font-weight: bold;
  
}
.section_unit_interview_photo {
  width: 50%;

}
.section_unit_interview_title {
  font-size: 30px;
  display: block;
  position: relative;
  top: -180px;
  left: 16%;
  color: #fff;
  font-weight: bold;
}
.section_unit_interview {
  position: relative;
  top:-345px;
  left: 50%;
}
.section_link_more {
  font-weight: bold;
  color: dimgray;
  text-align: center;
  font-size: large;
  margin-top: -200px;
}
.section_link_item {
  margin-left: 2%;
  width: 3px;
  height: 50px;
  background-color: #c71585;
  position: relative;
  top:20px;
  left: 48%;
}
.section_link_button {
  background: linear-gradient(90deg,#ff1493,#ac026e);
  border-radius: 40px;
  color: #fff;
  padding: 30px 60px;
  display: block;
  width: 120px;
  position: relative;
  top:35px;
  left: 42%;
  box-shadow: -1px 8px #9c0264;
  text-align: center;

}
.section_link_button::before {
  content: "";
  background: url(../img/mailicon.svg) no-repeat;
  background-size: cover;
  position: absolute;
  top:28px;
  left: 13%;
  width: 20px;
  height: 20px;

}
.footer_text {
  background-color: lightgray;
  background-size: 100% auto;
  display: block;
  position: relative;
  top:100px;
  text-align: center;
  line-height: 50px;
  

}