
.header_logo {
  width: 150px;
  margin-left: 40px;
  margin-top: 10px;

}
.header_nav_list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  color: dimgray;
  text-align: justify;
  
}
.header_nav_item {
  margin-right: 20px;

}
main {
  overflow: hidden;
}

.main_content_item {
  margin-top: 50px;
  margin-left: 50%;
  width: 50%;
  height: 150px;

}
img {
  width: 100%;
}
.main_content_title {
  font-family: 'IBM Plex Sans JP', sans-serif;
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    color: #c71585;
  
    margin-top: -100px;
    line-height: 100px;
    font-weight: lighter;
}
.main_content_title_item {
  font-size: 20px;
  font-weight: bold;
  color: #c71585;

  margin-top: 50px;
  letter-spacing: 0.1em;

}
span {
  color: #20b2aa;
}
.main_content_text {
  margin-left: 30%;
}
.main_content_text_item {
  color: dimgray;

  margin-top: 20px;
  
}

.section_news_tab {
  font-family: 'IBM Plex Sans JP', sans-serif;
    font-family: 'Indie Flower', cursive;
  color: #c71585;
  line-height: 20px;
  font-size: 10px;
  margin-top: 400px;
}
.section_news_title {
  color: dimgrey;
  font-size: 20px;
  line-height: 60px;
  

}
.section_news_list {
  border-spacing: 0;
  border-top:2px solid dimgray;
  table-layout: fixed;
  margin: 0 auto;
  border-collapse: collapse;
  width: 850px;
}
.section_news_list_item_date {
  border-bottom: 1px solid dimgray;
  width: 150px;
  text-align: left;
  



}
.news {
  border-bottom: 2px solid dimgray;
  width: 850px;
  height: 370px;
  display: block;
  margin: 0 auto;
  
}


.section_news_list_item_info {
    line-height: 50px;
    display: flex;
    justify-content: left;
    width: 700px;
    border-bottom: 1px solid dimgray;
  

}


.section_news_list_item_info_logo {
  width: 100px;
  height: 40px;
  background-color: #c71585;
  border-radius: 20px;
  font-weight: bold;
  color: #fff;
  margin-top: 8px;
  text-align: center;

  
}
.section_news_list_item_info_item {
  margin-left: 50px;
  
}
.about {
  background-color: #dcdcdc;
  width: 100%;
  height: 500px;

  margin-top: 100px;

}
.section_about_tab {
  font-family: 'IBM Plex Sans JP', sans-serif;
    font-family: 'Indie Flower', cursive;
    color: #c71585;
    font-size: 10px;
    text-align: center;
    padding-top: 30px;

}
.section_about_title {
  font-size: 20px;
  color: dimgray;
  text-align: center;
  margin-top: 20px;


}
.section_about_category_item_photo {
width: 30%;
margin-top: 70px;
margin-left: 55%;

}
.section_about_category_text_item {
  line-height: 25px;
  color: dimgray;
  margin-left: 15%;
  margin-top: -260px;


}
.section_about_category_text_coption {
  line-height: 25px;
  margin-top: 80px;
  margin-left: 15%;
  color: dimgrey;

}
img {
  width: 100%;
}



.section_sevice_tab {
  font-family: 'IBM Plex Sans JP', sans-serif;
    font-family: 'Indie Flower', cursive;
    color: #c71585;
    margin-top: 50px;
    margin-left: 220px;
}
.section_sevice_title {
  font-size: 20px;
  color: dimgray;
  margin-top: 15px;
  margin-left: 220px;
  margin-bottom: 20px;
}

.section_sevice_category_left {
  background-color: #8f2352;
  grid-row: 1/3;
  grid-column: 1/2;

}
.section_sevice_category_left_image {
  width: 20%;
  margin-top: 30px;
  margin-left: 200px;
}

.section_sevice_category_left_text {
  margin-top: -200px;
  margin-left: 50px;
}
.section_sevice_category_left_text_title {
  font-size: large;
  font-weight: bold;
  color: #fff;
  margin-left: 160px;


}
.section_sevice_category_left_text_item {
  margin-top: 20px;
  color: #fff;
}
  .section_sevice_category_right_top {
    background-color: #bc6088;
    grid-row: 1/2;
    grid-column: 2/3;
  
  
  }
  .section_sevice_category_right_top_image {
    width: 20%;
    margin-top: 30px;
    margin-left: 20px;

  }
.section_sevice_category_right_top_text {
  margin-top: -390px;
  margin-left: 30%;
}
.section_sevice_category_right_top_text_title {
  font-size: large;
  font-weight: bold;
  color: #fff;

}
.section_sevice_category_right_top_text_item {
  color: #fff;
  margin-top: 20px;
  


}
.section_sevice_category_right_bottom {
  background-color: #af7f94;
  grid-row: 2/3;
  grid-column: 2/3;

}
.section_sevice_category_right_bottom_image {
  width: 20%;
  margin-top: 30px;
  margin-left: 20px;


}
.section_sevice_category_right_bottom_text {
  position: relative;
  top:-150px;
  right: -130%
}
  
  

.section_sevice_category_right_bottom_text_title {
  font-size: large;
  font-weight: bold;
  color: #fff;
}
.section_sevice_category_right_bottom_text_item {
  color: #fff;
  margin-top: 20px;
}
.section_sevice_container {
  display: grid;
  grid-template-rows: 60% 60%;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  width: 90%;
  
  
  
}



.post {
  background-color: lightgray;
  width: 100%;
  height: 800px;
  margin-top: 100px;

}
.section_post_tab {
  font-family: 'IBM Plex Sans JP', sans-serif;
    font-family: 'Indie Flower', cursive;
    color: #c71585;
    margin-left: 220px;
    padding-top: 50px;

    
}
.section_post_title {
  font-size: 20px;
  color: dimgray;
  margin-left: 220px;
  margin-top: 30px;
}
.section_post_card_left {
  background: #fff;
  border-radius: 20px;
  width: 300px;
  height: 350px;
  margin-right: 50px;
  margin-top: 100px;


}
.section_post_card_left_photo {
  width: 300px;
  border-radius: 20px 20px 0 0 ;

}
.section_post_card_left_tab {
  background-color: #c71585;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 20px 0 0 0 ;
  width: 70px;
  height: 30px;
  position: relative;
  top:-203px
  


}
.section_post_card_left_text {
  display: flex;
  justify-content: space-around;
  color: dimgray;
  margin-top: 20px;
}
.section_post_card_left_title {
  margin-top: 200px;
  margin-left: 30px;
  color: dimgray;
  line-height: 23px;
  margin-top: 0px
}
.section_post_card_center {
  background: #fff;
    border-radius: 20px;
    width: 300px;
    height: 350px;
    margin-top: 100px;
    
}

.section_post_card_center_photo {
  width: 300px;
  border-radius: 20px 20px 0 0;

}
.section_post_card_right_photo {
  width: 300px;
  border-radius: 20px 20px 0 0;

}

.section_post_card_right {
  background: #fff;
    border-radius: 20px;
    width: 300px;
    height: 350px;
    margin-top: 100px;
    margin-left: 50px;
    

}

.section_post_card_center_tab {
  background-color: #c71585;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 20px 0 0 0;
  width: 70px;
  height: 30px;
  position: relative;
  top:-203px
  
}
.section_post_card_right_tab {
  background-color: #c71585;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 20px 0 0 0;
  width: 70px;
  height: 30px;
  position: relative;
  top:-203px;
}
.section_post_card_center_text {
  display: flex;
  justify-content: space-around;
  color: dimgray;
  margin-top: 20px;

  
}
.section_post_card_right_text {
  display: flex;
  justify-content: space-around;
  color: dimgray;
  margin-top: 20px

}
.section_post_card_center_title {

  margin-left: 30px;
  color: dimgray;
  line-height: 23px;
}
.section_post_card_right_title {
  margin-left: 30px;
  color: dimgray;
  line-height: 23px;
}
.section_post_card_item {
  display: flex;
  justify-content: center;


}
.section_post_link {
  display: block;
  border: 2px solid #c71585;
  border-radius: 30px;
  color: #c71585;
  width: 180px;
  text-align: center;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  font-weight: bold;
}
.section_profile_tab {
  font-family: 'IBM Plex Sans JP', sans-serif;
    font-family: 'Indie Flower', cursive;
    color: #c71585;
    margin-top: 100px;
    margin-left: 350px;
}
.section_profile_title {
  font-size: 20px;
  color: dimgray;
  margin-top: 20px;
  margin-left: 350px;
  
}
.section_profile_list {
  border: 1px solid dimgray;
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 100px;



}
.section_profile_list_company_tab {
  border: 1px solid rgb(169, 165, 165);
  background-color: lightgray;
  line-height: 50px;
  text-align: left;
  padding-left: 10px;
  color: dimgray;
}

.section_profile_list_name_tab {
  border: 1px solid rgb(169, 165, 165);
  background-color: lightgray;
  line-height: 50px;
  width: 200px;
  text-align: left;
  padding-left: 10px;
  color: dimgray;
}
.section_profile_list_address_tab {
  border: 1px solid rgb(169, 165, 165);
  background-color: lightgray;
  line-height: 50px;
  width: 200px;
  text-align: left;
  padding-left: 10px;
  color: dimgray;
}
.section_profile_list_people_tab {
  border: 1px solid rgb(169, 165, 165);
  background-color: lightgray;
  line-height: 50px;
  width: 200px;
  text-align: left;
  padding-left: 10px;
  color: dimgray;
}
.section_profile_list_tel_tab {
  border: 1px solid rgb(169, 165, 165);
  background-color: lightgray;
  line-height: 50px;
  width: 200px;
  text-align: left;
  padding-left: 10px;
  color: dimgray;
}
.section_profile_list_money_tab {
  border: 1px solid rgb(169, 165, 165);
  background-color: lightgray;
  line-height: 50px;
  width: 200px;
  text-align: left;
  padding-left: 10px;
  color: dimgray;
}
.section_profile_list_company_item {
  border: 1px solid rgb(169, 165, 165);
  line-height: 50px;
  width: 550px;
  padding-left: 10%;
  color: dimgray;

}
.section_profile_list_name_item {
  border: 1px solid rgb(169, 165, 165);
  line-height: 50px;
  width: 550px;
  padding-left: 10%;
  color: dimgray;

}
.section_profile_list_address_item {
  border: 1px solid rgb(169, 165, 165);
  line-height: 50px;
  width: 550px;
  padding-left: 10%;
  color: dimgray;

}
.section_profile_list_people_item {
  border: 1px solid rgb(169, 165, 165);
  line-height: 50px;
  width: 550px;
  padding-left: 10%;
  color: dimgray;

}
.section_profile_list_tel_item {
  border: 1px solid rgb(169, 165, 165);
  line-height: 50px;
  width: 550px;
  padding-left: 10%;
  color: dimgray;

}
.section_profile_list_money_item {
  border: 1px solid rgb(169, 165, 165);
  line-height: 50px;
  width: 550px;
  padding-left: 10%;
  color: dimgray;

}
.unit {
  display: flex;
  justify-content: flex-start;
  
}



.section_unit_work {
  width: 50%;

}


.section_unit_work_photo {
  width: 100%;
  
}
.section_unit_work_title {
  font-size: 30px;
  display: block;
  font-weight: bold;
  color: #fff;
  margin-top: -160px;
  text-align: center;

  
}
.section_unit_interview {
  width: 50%;
  
}
.section_unit_interview_photo {
  width: 100%;




}
.section_unit_interview_title {
  font-size: 30px;
  display: block;
  font-weight: bold;
  text-align: center;
  margin-top: -160px;
  color: #fff;
}



.section_link_more {
  font-weight: bold;
  color: dimgray;
  font-size: large;
  white-space: nowrap;
  margin-top: 300px;
  text-align: center;
  margin-bottom: 20px;
  
  
}
.section_link_item {
  margin-bottom: 20px;
  width: 3px;
  height: 50px;
  background-color: #c71585;
  margin: 0 auto;
}
.section_link_button {
  background: linear-gradient(90deg,#ff1493,#ac026e);
  border-radius: 40px;
  color: #fff;
  padding: 30px 60px;
  display: block;
  width: 160px;
  box-shadow: -1px 8px #9c0264;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;

}
.section_link_button::before {
  content: "";
  background: url(../img/mailicon.svg) no-repeat;
  background-size: 30px 30px;
  padding-right: 60px;
  padding-bottom: 10px;



}
.footer_text {
  background-color: lightgray;
  width:100%;
  margin-top: 100px;
  display: block;
  text-align: center;
  line-height: 50px;
  

}